@font-face {
  font-family: 'Terminus';
  src: url('./terminus.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 10%);
  line-height: 0;
  font-family: Terminus;
}